sub username { return "myusername"; }
sub password { return "mypassword"; }

sub getstaff {
    my %staff = ("John Doe" => "JD", "Jane Doe" => "JJD", "Wizkid Employee" => "WKE", "Employee One" => "EO", "THE Administrator" => "THE ADMIN");  
    return %staff;
}

sub getfilter {

    #best to get this filter directly from the URL used in the Activity Stream
    return "user+IS+myusername+anotherusername+yetanotherusername";

}

sub getjiradomain {

    return "my-jira-domain.atlassian.net";

}

1;


